/* complete Site */

@font-face {
    font-family: "Figtree";
    src: url(/Fonts/Figtree/Figtree-VariableFont_wght.ttf);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Figtree";
}

/* header */

.main-header {
    background-color: #09212A;
    height: 81px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.logo-header {
    width: 215px;
    height: 41px;
    margin-left: 140px;
}

/* main-content */
main {
    background-color: #06171E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

}

h1 {
    margin-top: 179px;
    font-weight: 800;
    margin-bottom: 80px;
    text-align: center;
}

.wrapper {
    margin-left: 40px;
    margin-right: 40px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.renderedThumbnails {
    display: contents;
}

.previewImages {
    width: 120px;
    height: 120px;
    border-radius: 16px;
}

/* Dialog */
.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    width: stretch;

}

.close-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 32px;
    height: 32px;
}

.close-btn:hover {
    background-color: rgba(18, 70, 88, 1);
}

.close-btn:active {
    background-color: rgba(13, 50, 64, 1);
}

.dialog-window[open] {
    height: 560px;
    width: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #06171E;
    color: white;
    border-radius: 10px;
    border: hidden;
    min-height: max-content;
}

.dialog-window::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#dialog-img {
    max-width: 100%;
    max-height: 100%;
}

.dialog-img-section {
    display: flex;
    align-items: center;
}

.dialog-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-top: 27px;
}

.arrow {
    all: unset;
    background-color: rgba(253, 91, 79, 0.1);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.arrow:hover {
    background-color: rgba(253, 91, 79, 0.2);
}

.arrowLeft {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.btn-prevImage {


    contain: content;
    background-color: rgba(253, 91, 79, 0.1)
}

.btn-nextImage {
    all: unset;
}


/* footer */
.main-footer {
    height: 128px;
    background-color: #09212A;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile */

@media (max-width: 880px) {
    .main-footer {
        position: relative;
    }

    main {
        padding-bottom: 52px;
    }
}

@media (max-width: 750px) {
    .dialog-window[open] {
        height: 524px;
        width: 468px;
    }

    .dialog-img-section {
        height: 300px;
    }
}

@media (max-width: 550px) {
    .main-header {
        justify-content: center;
    }

    .logo-header {
        margin-left: 0;
    }

    h1 {
        margin-bottom: 46px;
        margin-top: 128px;

    }

    .dialog-img-section {
        height: 657px;
    }

    .dialog-window[open] {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        max-width: none;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .moblie-full-screen-height-adjust {
        display: flex;
        flex-direction: column;
        height: 100vh
    }

    .dialog-footer {
        padding-bottom: 32px;
        gap: 27px;
    }

}